@use "./colors" as *;
@use "./breakpoints" as *;
@use "./mixins" as *;
@use "./typography" as *;

body {
  color: $pry-color-dark;
  @include no-margin-padding;
  font-family: 'Avenir';
}

.nav {
  padding: 1rem 2rem 0;
  @include flexbox-settings(center, center) {
    flex-flow: column nowrap;
    @include tablet {
      flex-direction: row;
      justify-content: space-around;
      box-sizing: border-box;
      @include no-margin-padding;
    }
  }
  &__logo {
    text-decoration: none;
    color: $pry-color-light;
    width: 10.5rem;
    @include no-margin-padding;
    margin-bottom: 0.5rem;
    @include tablet {
      margin: 0 0 0 1rem;
    }
    @include desktop {
      margin: 1.5rem 0 1.5rem 10rem;
    }
  }
  &__img-frame {
    @include no-margin-padding;

    @include tablet {
      order: 3;
    }
  }

  &__img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;

    @include tablet {
      width: 4.3rem;
      height: 4.3rem;
    }
  }
  &__list {
    list-style: none;
    @include flexbox-settings(space-between, center);
    flex-wrap: wrap;
    align-content: flex-start;
    @include no-margin-padding;
    @include tablet {
      flex-wrap: nowrap;
    }
  }
  &__list-item {
    @include flexbox-settings(center, center);
    @include tablet {
      justify-content: space-between;
    }
    &--input {
      background-color: $sec-color-light;
      @include flexbox-settings(center, center);
      border: red 5px solid;
      border: 2px solid $pry-color-shade;
      border-radius:5px;
      padding: 0.3rem;
    }
  }
  &__input {
    font-size: 1.08rem;
    width: 18rem;
    margin: 0;
    padding: 0.3rem;
    background-color: $sec-color-light;
    border: 1px solid $sec-color-light;
    @include tablet {
      width: 25vw;
    }
    @include desktop {
      width: 20vw;
    }
  }
 
  &__btn-icon {
    margin-top: 0.35rem;
    padding: 0 0.35rem;
  }

  &__btn {
    background-color: $pry-color-blue;
    border: 2px solid $pry-color-blue;
    @include flexbox-settings(space-between, center);
    border-radius: 4px;
    padding: 0.3rem;
    color: $pry-color-light;
    margin: 0.8rem 0;
    min-width: 90vw;
    @include mobile-label-buttons;
    @include tablet {
      min-width: 10rem;
      margin: 0 2rem;
    }
    @include desktop {
      width: 15rem;
    }
  }

  &__btn-text {
    @include no-margin-padding;
  }
}
