@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main {
  padding-top: 1.5rem;
  @include flexbox-settings(center, center);
  flex-direction: column;
  @include desktop {
    flex-direction: row;
    @include flexbox-settings(center, flex-start);
  }
  &__details {
    @include desktop {
      width: 80%;
    }
  }
}

