@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Alternativefiles/AvenirNextLTPro.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Alternativefiles/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url("../../assets/fonts/Alternativefiles/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
body {
  color: #323232;
  margin: 0;
  padding: 0;
  font-family: "Avenir";
}

.nav {
  padding: 1rem 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
.nav__logo {
  text-decoration: none;
  color: #ffffff;
  width: 10.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    margin: 0 0 0 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__logo {
    margin: 1.5rem 0 1.5rem 10rem;
  }
}
.nav__img-frame {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__img-frame {
    order: 3;
  }
}
.nav__img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .nav__img {
    width: 4.3rem;
    height: 4.3rem;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .nav__list {
    flex-wrap: nowrap;
  }
}
.nav__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .nav__list-item {
    justify-content: space-between;
  }
}
.nav__list-item--input {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  border: red 5px solid;
  border: 2px solid #afafaf;
  border-radius: 5px;
  padding: 0.3rem;
}
.nav__input {
  font-size: 1.08rem;
  width: 18rem;
  margin: 0;
  padding: 0.3rem;
  background-color: #fafafa;
  border: 1px solid #fafafa;
}
@media screen and (min-width: 768px) {
  .nav__input {
    width: 25vw;
  }
}
@media screen and (min-width: 1280px) {
  .nav__input {
    width: 20vw;
  }
}
.nav__btn-icon {
  margin-top: 0.35rem;
  padding: 0 0.35rem;
}
.nav__btn {
  background-color: #0095ff;
  border: 2px solid #0095ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  padding: 0.3rem;
  color: #ffffff;
  margin: 0.8rem 0;
  min-width: 90vw;
  font-family: "Avenir";
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .nav__btn {
    min-width: 10rem;
    margin: 0 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .nav__btn {
    width: 15rem;
  }
}
.nav__btn-text {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .main {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}

.form {
  margin: 0;
  padding: 0;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .form {
    padding: 0 3.5rem;
    margin: 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  .form {
    padding: 0 0 0 10rem;
  }
}
.form__title {
  color: #afafaf;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: 0 0 0 5rem;
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 15px;
    text-align: start;
    margin: 0 auto;
    padding: 0 0 0 5rem;
  }
}
.form__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  border-bottom: #afafaf 1px solid;
}
@media screen and (min-width: 768px) {
  .form__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.form__box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-flow: column nowrap;
}
@media screen and (min-width: 768px) {
  .form__box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
  }
}
.form__input {
  font-size: 1.2rem;
  width: 100%;
  height: 11rem;
  padding: 0 4rem;
  background-color: #e1e1e1;
  border: 1px solid #e1e1e1;
  resize: none;
  border-radius: 5px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .form__input {
    margin: 0;
    padding: 0;
    width: 50vw;
    padding: 1.5rem 2rem;
    height: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .form__input {
    width: 30vw;
  }
}
.form .img-frame {
  margin: 0 2rem 0 0;
}
@media screen and (min-width: 768px) {
  .form .img-frame {
    margin: 1rem 2rem 2rem 0;
  }
}
.form .img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.form .btn {
  background-color: #0095ff;
  border: 2px solid #0095ff;
  border-radius: 4px;
  padding: 0 1rem;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  width: 100%;
  font-family: "Avenir";
  font-weight: 700;
  line-height: 1.25rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .form .btn {
    width: 20vw;
    font-size: 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .form .btn {
    width: 15rem;
  }
}

.video-details, .video-reactions {
  font-family: "Avenir";
  font-weight: 700;
  line-height: 1.4rem;
  font-size: 1.3rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .video-details, .video-reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
  }
}
.video-details__author, .video-info__comment-count {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .video-details__author, .video-info__comment-count {
    margin-right: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .video-details__likes {
    margin-left: 3rem;
  }
}

.video-reactions {
  margin-right: 2.5rem;
}
@media screen and (min-width: 768px) {
  .video-reactions {
    margin-right: 0;
  }
}

.video-info {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .video-info {
    padding: 1rem 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .video-info {
    padding: 0 0 0 10rem;
  }
}
.video-info__title {
  border-bottom: #e1e1e1 1px solid;
  font-family: "Avenir";
  font-weight: 700;
  line-height: 3rem;
  font-size: 2.3rem;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem;
}
.video-info__details {
  border-bottom: #e1e1e1 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video-info__description {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .video-info__description {
    font-size: 1rem;
  }
}
.video-info__comment-count {
  font-size: larger;
  margin: 0.5rem 0;
}

.post-section {
  margin: 0;
  padding: 0;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  .post-section {
    padding: 0 3.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .post-section {
    padding: 0 0 0 10rem;
  }
}

.post-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #323232;
  border-bottom: 1px solid #afafaf;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: space-around;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.post__heading {
  font-size: 1.2rem;
}
.post__text {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
.post__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post__time {
  color: #afafaf;
  font-size: 1.2rem;
}
.post__image {
  height: 60px;
  width: 60px;
  margin: 1rem 2rem 1rem 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}/*# sourceMappingURL=Main.css.map */