@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.next-videos-section {
  @include no-margin-padding;
  width: 100%;
  margin-bottom: 5rem;
  border-left: $pry-color-shade 1px solid;
  @include tablet {
    padding: 0 3.5rem;
  }
  @include desktop {
    padding: 0 0 0 1rem;
    margin: 0 0 5rem 0.15rem;
  }
}

.next-videos-container {
  @include flexbox-settings(flex-start, space-around);
  flex-direction: column;
  color: $pry-color-dark;
  width: 80%;
  margin-left: 1rem;
  @include tablet {
    margin: 0 3.5rem;
    width: 50%;
  }
  @include desktop {
    @include no-margin-padding;
    width: 100%;
  }
}

.next-videos {
  box-sizing: border-box;
  max-width: 24rem;
  margin-bottom: 1.5rem;
  @include flexbox-settings(space-between, center);
  flex-flow: row nowrap;

  &__box {
    @include no-margin-padding;
    width: 50%;
    font-size: 1rem;
  }
  &__heading {
   
    @include no-margin-padding;
    margin-bottom: 0.3rem;
    &--grey {
      color: grey;
      font-size: 1rem;
    }
    @include tablet {
      font-size: 1rem;
      overflow-wrap: break-word;
    }
  }
  &__text {
  
    @include no-margin-padding;
    @include tablet {
      font-size: 1rem;
    }
  }

  &__frame {
    width: 140px;
    height: 90px;
    @include no-margin-padding;
  }

  &__screen {
    width: 100%;
    height: 100%;
    border: 1px solid $pry-color-light;
    border-radius: 10px;
    object-fit: cover;
  }
}
