@use "../../styles/partials/global" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main-section {
  padding: 1.3rem;
  border-top: 1px solid $pry-color-shade;
}
// remember to isolate Hero
.hero-container {
  background-color:  $pry-color-light;
  padding-bottom: 1rem;
}
.hero_container__img {
  width: 100%;
  border: 1px solid $pry-color-light;
  border-radius: 10px;
}

.main-section__title {
  padding: 0.2rem 0;
}

.hero__heading {
  color: $pry-color-shade;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
  padding: 0 rem 0;
}

.main {
  font-size: 2px;
}

.upload-form-container {
  @include no-margin-padding;
}

.upload-form-box {
  @include desktop {
    @include flexbox-settings(space-between, center);
  }
}

.upload-form__input-box {
  @include desktop {
    border: red 5px solid;
   width: 65vw;
  }
}
.upload-form {
  // border: green 5px solid;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;

  @include no-margin-padding;
  &__label {
    @extend .hero__heading;
  }
  &__input {
    font-size: 1.2rem;
    margin: 0.5rem 0 1rem;
    padding: 0.8rem;
    color: $pry-color-dark;
    border: 2px solid $pry-color-shade;
    border-radius: 4px;
    background-color: $sec-color-light;
    &--lg {
      @extend .upload-form__input;
      margin: 0.5rem 0 1rem;
      padding: 1rem 0.8rem 5rem;
      @include tablet {
        margin-bottom: 2rem;
      }
      @include desktop {
        margin: 1rem 0 0;
        padding: 1rem 0.8rem 3rem;
      }
    }
  }
}

.upload {
  // @include flexbox-settings(center, center);
  flex-flow: column nowrap;
  @include tablet {
    @include flexbox-settings(flex-end, center);
    flex-flow: row nowrap;
    border-top: 1px solid $pry-color-shade;
  }
}

.upload__btn-container {
  // border: red 5px solid;
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem 0 0.5rem;
  @include tablet {
    margin: 1rem 0 0.5rem;
    order: 2;
  }
  &--cancel {
    @extend .upload__btn-container;
    margin: 0 0 4rem;
    @include tablet {
      margin: 1rem 0 0.5rem;
      order: 1;
    }
  }
}
.upload__btn {
  background-color: $pry-color-blue;
  border: 2px solid $pry-color-blue;
  @include flexbox-settings(space-between, center);
  border-radius: 4px;
  padding: 0.5rem;
  padding-right: 1.8rem;
  color: $pry-color-light;
  font-size: 1rem;
  font-weight: 600;

  &--cancel {
    @extend .upload__btn;
    @include flexbox-settings(center, center);
    background-color: $pry-color-light;
    color: $pry-color-blue;
   border: 2px solid $pry-color-light;
    padding: 1rem;
    @include tablet {
      padding: 1rem 5rem;
    }
  }
}
