$pry-color-dark: #323232;
$pry-color-blue: #0095ff;
$pry-color-shade: #afafaf;
$pry-color-light: #ffffff;
$sec-color-dark: #000000;
$sec-color-blue: #0065ad;
$sec-color-shade: #e1e1e1;
$sec-color-light: #fafafa;
