@use "./colors" as *;
@use "./typography" as *;

@mixin background-settings($bg-image, $bg-size, $bg-repeat) {
  background-image: $bg-image;
  background-size: $bg-size;
  background-repeat: $bg-repeat;
  @content;
}

@mixin flexbox-settings($justify, $align-item) {
  display: flex;
  justify-content: $justify;
  align-items: $align-item;
  @content;
}

@mixin no-margin-padding {
  margin: 0;
  padding: 0;
}
// media query for tablet view
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}
// media query for desktop view
@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
//styling for footer containers
@mixin footer-setup {
  padding: 0 1rem;
  color: $pry-color-dark;
  @include tablet {
    padding: 0 2.5rem;
  }
  @include desktop {
    padding: 0 10rem;
  }
}
//styling for section title/headers
@mixin title-setup {
  padding: 1.5rem 0 1rem;
  margin: 0;
  @include mobile-header-font;
  @include tablet {
    @include tablet-header-font;
  }
  @include desktop {
    @include desktop-header-font;
    margin: 1rem 0;
  }
}
