@use "./styles/partials/global" as *;
@use "./styles/partials/colors" as *;
@use "./styles/partials/breakpoints" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography" as *;

.nav {
  padding: 1rem 2rem 0;
  @include flexbox-settings(center, center) {
    flex-flow: column nowrap;
    @include tablet {
      flex-flow: row nowrap;
      justify-content: flex-start;
    }
  }
  &__logo {
    text-decoration: none;
    color: $pry-color-light;
    width: 10.5rem;
    @include no-margin-padding;
    margin-bottom: 0.5rem;
    @include tablet {
      margin: 0 0 0 3rem;
    }
    @include desktop {
      margin: 1.5rem 0 1.5rem 10rem;
    }
  }
  &__img-frame {
    @include no-margin-padding;
  }

  &__img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    text-align: center;
    @include tablet {
      width: 4.3rem;
      height: 4.3rem;
    }
  }
  &__list {
    list-style: none;
    @include flexbox-settings(space-between, center);
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: 52rem;
    border: blue 5px solid;
    @include no-margin-padding;
    @include tablet {
      // border: red 5px solid;
      justify-content: space-evenly;
      width: 22rem;
    }
  }
  &__list-item {
    @include flexbox-settings(center, center);
  
    @include tablet {
      justify-content: flex-start;
      // border: blue 5px solid;
    }
  }
  &__input {
    font-size: 1.5rem;
    width: 70vw;
    margin: 0;
    padding: 0.5rem;
    background-color: $sec-color-shade;
    border: 1px solid $sec-color-shade;
    //resize: none;
    border-radius: 5px;
    @include tablet {
      width: 70vw;
    }
    @include desktop {
      width: 40vw;
    }
  }
  &__btn {
    background-color: $pry-color-dark;
    border: 2px solid $pry-color-dark ;
    border-radius: 4px;
    padding: 1rem;
    color: $pry-color-light;
    margin: 0.8rem 0;
    min-width: 90vw;
    @include mobile-label-buttons;
    @include tablet {
      align-self: flex-end;
      width: 15rem;
      font-size: 1.5rem;
    }
    @include desktop {
      width: 15rem;
    }
  }
  &__link:hover,
  &__link:active {
    border-bottom: 4px solid white;
    color: $pry-color-light;
  }
  &__link:link {
    border-bottom: 4px solid $pry-color-dark;
  }
}

.hero {
  height: 16rem;
  border: green 5px solid;
  @include flexbox-settings(flex-start, center);
  flex-direction: column;
  @include tablet {
    height: 30.5rem;
  }
  @include desktop {
    height: 50rem;
  }

  &__video {
    width: 100%;
    height: 100%;
  }
  &__title {
    @include no-margin-padding;
    @include mobile-header-font;
    padding-left: 1rem;

    @include tablet {
      font-size: 3.2rem;
      padding-left: 3rem;
    }
    @include desktop {
      font-size: 4rem;
      padding-left: 12rem;
    }
  }
}


.form {
  @include footer-setup;
  @include no-margin-padding;
  border: red 5px solid;
  padding: 0.5rem 1rem;
  &__title {
    text-align: center;
  }
  &__container {
    @include flexbox-settings(center, flex-start);
    @include no-margin-padding;
  }

  &__row {
    @include flexbox-settings(center, flex-start);
    flex-flow: column nowrap;
    box-sizing: border-box;
  }
  &__label {
    @include mobile-subheader-font;
    color: $pry-color-shade;
    margin: 1rem 0;
  }
  &__input {
    font-size: 2rem;
    width: 100%;
    padding: 0.5rem;
    background-color: $sec-color-shade;
    border: 1px solid $sec-color-shade;
    resize: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: none;
    @include tablet {
      width: 70vw;
      display: block;
    }
    @include desktop {
      width: 40vw;
    }
  }

  &__textarea {
    @extend .form__input;
    display: block;
    padding: 1rem;
    white-space: nowrap;
    @include tablet {
      display: none;
    }
  }
  .img-frame {
    margin: 0 2rem;
  }
  .img {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
    @include tablet {
      width: 4.3rem;
      height: 4.3rem;
    }
  }

  .btn {
    background-color: $pry-color-dark;
    border: 2px solid $pry-color-dark ;
    border-radius: 4px;
    padding: 1rem;
    color: $pry-color-light;
    margin: 2rem 0;
    width: 100%;
    @include mobile-label-buttons;
    @include tablet {
      align-self: flex-end;
      width: 15rem;
      font-size: 1.5rem;
    }
    @include desktop {
      width: 15rem;
    }
  }
  &__title {
    @include tablet {
      font-size: 2.7rem;
    }
  }
  &__error-signal {
    border: 4px solid red;
  }
}

.video-info {
  border: red 5px solid;
  padding: 0 2rem;
  &__title{
    border: purple 5px solid;
  }
  &__details{
    border: yellow 5px solid;
    @include flexbox-settings(space-between, center)
  }
  &__description{
    border: orange 5px solid;
    @include mobile-copy-font;
  }
}
.video-details {
  border: rgb(21, 255, 0) 5px solid;
} 

.video-reactions {
  border: #0059ff 5px solid;
  margin-right: 2.5rem;
}
             
